@font-face {
    font-family: 'poppinsblack';
    src: url('../Components/Fontes/poppins-black-webfont.woff2') format('woff2'),
         url('../Components/Fontes/poppins-black-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
  
}
  
  
  
  
@font-face {
    font-family: 'poppinsbold';
    src: url('../Components/Fontes/poppins-black-webfont.woff2') format('woff2'),
         url('../Components/Fontes/poppins-black-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
  
}
  
  
@font-face {
    font-family: 'poppinslight';
    src: url('../Components/Fontes/poppins-black-webfont.woff2') format('woff2'),
         url('../Components/Fontes/poppins-black-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
  
}
  
  
@font-face {
    font-family: 'poppinsmedium';
    src: url('../Components/Fontes/poppins-black-webfont.woff2') format('woff2'),
         url('../Components/Fontes/poppins-black-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
  
}
  
@font-face {
    font-family: 'poppinsregular';
    src: url('../Components/Fontes/poppins-black-webfont.woff2') format('woff2'),
         url('../Components/Fontes/poppins-black-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
  
}
  
@font-face {
    font-family: 'poppinssemibold';
    src: url('../Components/Fontes/poppins-black-webfont.woff2') format('woff2'),
         url('../Components/Fontes/poppins-black-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
  
}